page-contact-details {
  ion-content {
    background-color: color($colors, primary) !important;
  }

  ion-grid {
    padding-top: 8px !important;
  }

  .main-card {
    background-color: rgb(12, 180, 144) !important;

    ion-avatar img {
      width: 60px !important;
      height: 60px !important;
    }

    h2,
    p {
      color: color($colors, secondary) !important;
    }

    h2 {
      font-weight: bolder;
    }

    p {
      font-size: 1.4rem;
    }

    ion-icon {
      padding-right: 5px !important;
      padding-left: 10px !important;
      color: color($colors, secondary) !important;
    }

    .item-md.item-block .item-inner {
      border-bottom: none !important;
    }
  }

  ion-card-content {
    margin: 10px !important;
    padding: 5px !important;
    border-radius: 6px;
    margin-bottom: 16px;
    background-color: color($colors, light);
  }

  p {
    font-size: 1.6rem;
    color: color($colors, light) !important;
    margin-left: 14px;
    margin-bottom: 5px !important;
    margin-top: 8px !important;
  }

  ion-icon {
    margin-right: 4px !important;
  }

  .list-md .item-input.item-input-has-focus:last-child,
  .list-md .item-input .input-has-focus:last-child,
  .list-md .item-input:last-child {
    border-bottom: none !important;
    box-shadow: none !important;
  }

  .item-md.item-block .item-inner {
    border-bottom: 1px solid #dedede !important;
  }

  .item-md.item-input.input-has-focus .item-inner {
    box-shadow: none;
  }

  ion-item {
    background-color: color($colors, light) !important;
  }
}
